/*--------------nav-----------------*/

.page-header {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url('../assets/img/page-header-container-img.png');
    /*background-size: cover;*/
    color: white;
    padding: 20px;
}

.main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 600px;
}

.tajam-text-logo {
    margin-left: 10px;
    font-family: "Roboto-Thin";
    font-size: 30px;
    background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    max-width: 73px;
}

.nav-link {
    display: block;
    color: #ffffff;
    font-family: 'Roboto-Black';
    text-align: right;
    margin: 10px 0;
}

.nav-link:hover {
    color: #00e0d0;
}


/*---------------------container-promo---------------------*/

.promo-container-wrapper {
    margin-top: 180px;
}

.promo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-title {
    font-family: 'PlayfairDisplay-Black';
    font-size: 32px;
    letter-spacing: 0.5px;
    margin: 0 0 20px 0;
    text-align: center;
}

.promo-container .separator {
    background-color: #00e0d0;
}

.promo-txt {
    margin: 30px 0 50px 0;
    font-family:'Roboto-Thin';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    max-width: 770px;
    text-align: center;
}

.header-dots {
    margin: 70px 0 50px 0;
}


/*---------------responsive---------------*/

@media (max-width: 768px) {
    .main-nav-container {
        flex-direction: column;
    }

    .main-nav {
        flex-direction: column;
        justify-content: flex-start;
        min-width: 200px;
        align-items: center;
    }

    .promo-container-wrapper {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {

}
