.page-footer {
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)),
    url("../assets/img/footer-img.png");
    /*background-size: cover;*/

    display: flex;
    flex-direction: column;
    align-items: center;

    /* text related */
    font-family: "Roboto-Thin";
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 26px;
    font-weight: 300;
}

.footer-sign-contacts-subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-scs-block {
    max-width: 290px;
}

.page-footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;

    font-family: "Roboto-Black";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 400;
}

.page-footer-header-responsive {
    margin-bottom: 30px;
}

.footer-container {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
    /*align-items: center;*/
    max-width: 940px;
    margin: 70px 0;
}

.footer-logo {
    margin-left: 10px;
    font-size: 30px;
    background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    max-width: 73px;
}

.footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-icons-stay-in-touch {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}

.footer-network {
    margin-right: 8px;
}
.footer-network:hover {
    opacity: 0.6;

}

.footer-nav {
    line-height: 10px;
}

.footer-nav-responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 55px;
}

.footer-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.our-studio-icon-text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*margin-bottom: 20px;*/
}

.mark-icon, .footer-tel-icon {
    height: 19px;
    margin-right: 16px
}

.subscribe-newsletter-form {
    display: flex;
}

.subscribe-newsletter-form-email {
    width: 170px;
    background: transparent;
    opacity: 0.85;
    border: 1px solid #ffffff;
    padding: 16px;
    font-weight: 300;
}

.subscribe-newsletter-form-submit {
    height: 50px;
    width: 70px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.our-studio-location {
    margin-bottom: 14px;
}



/*---------------responsive---------------*/

@media screen and (max-width: 768px) {
    .footer-sign-contacts-subscribe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-footer-header-responsive {
        margin: 20px 0 10px 0;
    }

    .footer-nav-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
    }

    .footer-nav-responsive > :first-child {
        margin-bottom: 20px;
    }

    .our-studio-container,
    .stay-in-touch-container,
    .footer-sign-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
