.page-expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expertise {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.expertise-title {
    font-family: 'PlayfairDisplay-Bold';
    height: 16px;
    font-size: 22px;
}

.expertise-txt {
    height: 15px;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    color: #2f2d35;
    letter-spacing: 1px;
    margin: 20px auto auto;
    opacity: 0.75;
}

.separator {
    background-color: #413d4b;
    opacity: 0.3;
    margin: 15px 0 20px 0;
}

.expertise-items-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom:  70px;
}

.expertise-items-list-responsive {
    max-width: calc((255px + 2*25px) * 3);
}

.expertise-items-list:before {
    content: ' ';
    position: absolute;
    border: 1px solid white;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    box-sizing: border-box;

}

.expertise-item {
    width: 255px;
    padding: 25px;
    box-shadow: 0.5px 0.5px gray;
}

.expertise-item-img {
    object-fit: contain;
    margin: auto;
    width: 50px;
    height: 50px;
}

.expertise-item-header {
    font-family: 'Roboto-Black';
    max-width: 230px;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 30px auto 20px auto;
    color: #413d4b;
}

.expertise-item-txt {
    font-family: 'Roboto-Thin';
    max-width: 250px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 22px;
}


/*---------------responsive---------------*/

@media screen and (max-width: calc((255px + 2*25px) * 2 - 1px)) {
    .expertise-items-list-responsive {
        max-width: calc((255px + 2*25px));
    }
}

@media screen and (min-width: calc((255px + 2*25px) * 2)) and (max-width: calc((255px + 2*25px) * 3 - 1px)) {
    .expertise-items-list-responsive {
        max-width: calc((255px + 2*25px) * 2);
    }
}