.page-contact {
    display: flex;
    justify-content: center;
}

.page-contact-clients-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 70px 0;
    max-width: 940px;
    width: 100%;
}

.good-news-form-container {
    max-width: 460px;
}

.happy-clients-container {
    max-width: 380px;
    width: 100%;
    margin-left: 20px;
}

.good-news-form-field-input:first-child {
    margin-top: 35px;
}

.good-news-form-field-input {
    width: calc(100% - 20px - 2px);
    height: 45px;
    border: 1px solid #000000;
    opacity: 0.2;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
}

.good-news-form-field-textarea {
    width: calc(100% - 20px - 2px);
    height: calc(200px - 20px - 2px);
    border: 1px solid #000000;
    opacity: 0.2;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;
}

.good-news-form-header,
.happy-clients-header {
    line-height: 16px;
    color: #413d4b;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 22px;
    letter-spacing: 1px;
    line-height: normal;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-clients-columns-container{
    display: flex;
    justify-content: space-between;
}

.happy-clients-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.happy-clients-logo {
    margin-top: 50px;
}

/*---------------responsive---------------*/

@media screen and (max-width: 768px) {
    .page-contact-clients-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good-news-form-container {
        max-width: 460px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .happy-clients-container {
        margin-top: 70px;
        max-width: 380px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .good-news-form {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
