.page-works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works{
    display: flex;
    justify-content: space-around;
    margin:70px 0;
}
.works-title {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 22px;
    letter-spacing: 1px;
    color: #413d4b;
    max-width: 145px;

}
.works-link {
    justify-content: center;
    max-width: 170px;
    height: 14px;
    color: #413d4b;
    font-family: 'Roboto-Thin';
    font-size: 14px;
    letter-spacing: 0.7px;
}

.works-list-container {
    display: flex;
    flex-wrap: wrap;
}

.works-list-container-responsive {
    width: calc(6 * 267px)
}


.work-item {
    width: 267px;
    height: 200px;
    /*background-color: red;*/
}

.work-item:nth-child(5n + 1) {
    background-color: gray;
}

.work-item:nth-child(5n + 2) {
    background-color: darkgray;
}

.work-item:nth-child(5n + 3) {
    background-color: dimgray;
}

.work-item:nth-child(5n + 4) {
    background-color: lightgray;
}

.work-item:nth-child(5n + 5) {
    background-color: silver;
}

.btn-load-more {
    margin: 70px 0;
}
.btn-load-more {
    display: flex;
    justify-content: center;
}

/*---------------responsive---------------*/
@media only screen and (max-width: calc(267px * 2 - 1px)) {
    .works-list-container-responsive {
        width: 267px;
    }
}

@media screen and (min-width: calc(2 * 267px)) and (max-width: calc(3 * 267px - 1px)) {
    .works-list-container-responsive {
        width: calc(2 * 267px)
    }
}

@media screen and (min-width: calc(3 * 267px)) and (max-width: calc(4 * 267px - 1px)) {
    .works-list-container-responsive {
        width: calc(3 * 267px)
    }
}

@media screen and (min-width: calc(4 * 267px)) and (max-width: calc(6 * 267px - 1px)) {
    .works-list-container-responsive {
        width: calc(4 * 267px)
    }
}